## Two new keywords

- pass
- continue
- break

#### 1. pass

Pass keyword is basically used to skip over a condition when we dont want to do anything if certain condition is achieved

In [7]:
data = range(0,11)

for i in data:
    if i==0:
        print(end='')
    elif i%2==0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

1 is odd
2 is even
3 is odd
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [10]:
data = range(0,11)

for i in data:
    if (i==0) or (i==1) or (i==3):            # agar if / conditional statement ke baad koi initialize statement nai ho,
        pass                                  # to vaha par hum pass statement use kar sakte h
    elif i%2==0:
        print(f'{i} is even')
    else:
        print(f'{i} is odd')

2 is even
4 is even
5 is odd
6 is even
7 is odd
8 is even
9 is odd
10 is even

In [22]:
tuple(range(4))

(0, 1, 2, 3)

##### Program 1

In [29]:
students = ('Ramesh', 'Suresh', 'Gokul','Thanos')
marks = (40, 78, 94, 5)

if len(students) == len(marks): # checking if both the iterables match
    for index in range(len(marks)): # using the length of one iterable to define the range to iterate over
        student_name = students[index] # accessing the student name at the current index
        marks_obtained = marks[index] # accessing the marks obtained by the student
        
        if marks_obtained <40: # failing criteria
            pass
        else: # passed students
            print(f'{student_name} got {marks_obtained} marks and has successfully passed the examination !')
else:
    print('The lengths do not match !')

Ramesh got 40 marks and has successfully passed the examination !
Suresh got 78 marks and has successfully passed the examination !
Gokul got 94 marks and has successfully passed the examination !

##### Program 2

students = ('Ramesh', 'Suresh', 'Gokul','Thanos', 'Potato', 'Harish')
marks = (40, 78, 94, 5, 35, 22)

Failing_tuple = (('Thanos',5), ('Potato', 35), ('Harish', 22))

In [37]:
students = ('Ramesh', 'Suresh', 'Gokul','Thanos', 'Potato', 'Harish')
marks = (40, 78, 94, 5, 35, 22)

passing_students = tuple()
failing_students = tuple()

if len(students) == len(marks):
    for index in range(len(students)):
        student_name = students[index]
        marks_obtained = marks[index]
        
        student_marks_tuple = (student_name, marks_obtained)
        
        if marks_obtained < 40:
            failing_students = failing_students.__add__((student_marks_tuple,))
        else:
            passing_students = passing_students.__add__((student_marks_tuple,))
            
    print(f'The passing students tuple is : {passing_students}')
    print(f'The failing students tuple is : {failing_students}')
    
else:
    print('Lengths dont match !')

The passing students tuple is : (('Ramesh', 40), ('Suresh', 78), ('Gokul', 94))
The failing students tuple is : (('Thanos', 5), ('Potato', 35), ('Harish', 22))

In [42]:
number = 9

if number%2==0: # condition to be skipped
    pass
elif number%3==0: # condition to be considered
    print(number)

9

In [44]:
data = ''
for i in range(10):
    if i%2==0:
        pass
    else:
        print(f'number : {i}')
    print(f'The number is {i}')
    print()

The number is 0

number : 1
The number is 1

The number is 2

number : 3
The number is 3

The number is 4

number : 5
The number is 5

The number is 6

number : 7
The number is 7

The number is 8

number : 9
The number is 9

#### 2. continue

- While `pass` is used just to skip a statement; `continue` would simply skip the entire iteration if been accessed
- pass can be used inside conditionals only but to use continue we need loops

In [51]:
data = ''
for i in range(10):
    if i%2==0:
        continue
    else:
        print(f'number : {i}')
        
    print(f'The number is {i}')
    print()

0

number : 1
The number is 1

2

number : 3
The number is 3

4

number : 5
The number is 5

6

number : 7
The number is 7

8

number : 9
The number is 9

##### Case I

In [52]:
name= 'Ramesh'

if name.istitle():
    pass
else:
    print(1)

print(f'Name is {name}')

Name is Ramesh

##### Case II

In [56]:
names = ['ramesh', 'suresh']
for name in names:
    if name.istitle():
        continue
    else:
        print(1)

    print(f'Name is {name}')

1
Name is ramesh
1
Name is suresh

#### 3. break

- unlike `pass` or `continue` the `break` command is explicitly used to terminate the loop at any point

In [62]:
for i in range(10):
    if i == 5:
        break
    else:
        print(i)
    print(f'The number is {i}')

0
The number is 0
1
The number is 1
2
The number is 2
3
The number is 3
4
The number is 4

In [63]:
for i in range(10):
    if i == 5:
        pass
    else:
        print(i)
    print(f'The number is {i}')

0
The number is 0
1
The number is 1
2
The number is 2
3
The number is 3
4
The number is 4
The number is 5
6
The number is 6
7
The number is 7
8
The number is 8
9
The number is 9

In [64]:
for i in range(10):
    if i == 5:
        continue
    else:
        print(i)
    print(f'The number is {i}')

0
The number is 0
1
The number is 1
2
The number is 2
3
The number is 3
4
The number is 4
6
The number is 6
7
The number is 7
8
The number is 8
9
The number is 9