### Accessing the elements in a tuple

- The index starts with (0) and would end at (length - 1)

- syntax : tuple_name[index]
    : returns the item in the index position

In [18]:
data = ('Charlie','Rama','Hari','Snyder')

# I have to access Hari
# 1. positive indexing
print(data[2])

# 2. negative indexing
print(data[-2])

# Understanding the indexing
data[-len(data)] == data[0], data[len(data)-1] == data[-1]

Hari
Hari

(True, True)

### 1. count

- frequency of occurence in a given tuple of a particular element
- syntax : tuple_name.count(element)

In [19]:
data = (1,2,3,4,5,1,2,112,1056)

data.count(1)

2

In [22]:
data = ('ramesh', 'suresh','samir','arya')

data.count('a')

0

### 2. index

- gives the position of the first occurence of the element
- syntax : tuple_name.index(element)
- Note : the `index` function raises `ValueError` if the element been searched is absent in the given tuple

In [23]:
data = (1,2,66,32,'007',98,81)
data.index('007')

4

In [24]:
data = (1,2,66,32,'007',98,81)
data.index(567)

ValueError: tuple.index(x): x not in tuple

### 3.` __add__`

- Used to concatenate multiple tuples
- syntax : tuple_1.__add__(tuple_2)
- Cannot concatenate different data-types together

In [26]:
data1 = (1,2,3,4,5)
data2 = (6,7,8,9,0)

data1.__add__(data2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 0)

In [27]:
data1.__add__('I am Groot')

TypeError: can only concatenate tuple (not "str") to tuple

### 4. `__contains__`

- To check the presence of a particular element in a tuple
- syntax : tuple_name.__contains__(element)

In [28]:
data = (1,2,3,4,5,'007',66,1080)

data.__contains__('007')

True

In [29]:
data = (1,2,3,4,5,'007',66,1080)

data.__contains__(79)

False

### 5. Using `sorted` on a tuple

- To arrange the values of a tuple in a specific order
- The order can either be ascending or descending
- syntax: sorted(tuple_name, reverse=boolean)
- Note : We cannot compare string values to numeric values

In [32]:
data = (1,2,3,4,5,0.07,66,1080)

sorted(data)

[0.07, 1, 2, 3, 4, 5, 66, 1080]

In [33]:
data = (1,2,3,4,5,'007',66,1080)

sorted(data)

TypeError: '<' not supported between instances of 'str' and 'int'

### Extras

### a. The `enumerate` function

- Used to access the indices alongwith the values from an iterable in a loop
- syntax : enumerate(data)

In [34]:
data = ('a','b','c','d','e')

for index in range(len(data)):
    print(index, data[index])

0 a
1 b
2 c
3 d
4 e

In [39]:
data = ('a','b','c','d','e')

for tup in enumerate(data):
    print(tup)
    print(type(tup))
    print()

(0, 'a')
<class 'tuple'>

(1, 'b')
<class 'tuple'>

(2, 'c')
<class 'tuple'>

(3, 'd')
<class 'tuple'>

(4, 'e')
<class 'tuple'>

In [40]:
tup = (0, 'a')
index, value = tup

print(index)
print(value)

0
a

In [41]:
index = 54
value = 'Krish'

tup = (index, value)

tup

(54, 'Krish')

In [36]:
data = ('a','b','c','d','e')

for index,value in enumerate(data):
    print(index, value)

0 a
1 b
2 c
3 d
4 e

In [42]:
student_names = ('rajesh','kishor','samresh','rocky','saitama')
set_A = tuple()
set_B = tuple()

for index, name in enumerate(student_names):
    if index%2==0:
        set_A = set_A.__add__((name,))
    else:
        set_B = set_B.__add__((name,))

print(f'The students for SET A paper are : {set_A}')
print(f'The students for SET B paper are : {set_B}')

The students for SET A paper are : ('rajesh', 'samresh', 'saitama')
The students for SET B paper are : ('kishor', 'rocky')

In [46]:
data = ('a','b','c','d','e')

for number,value in enumerate(data,1):
    print(f'The corresponding value for {number} is {value} !')
    print()

The corresponding value for 1 is a !

The corresponding value for 2 is b !

The corresponding value for 3 is c !

The corresponding value for 4 is d !

The corresponding value for 5 is e !

### Number of temporary variables in for loop

In [47]:
data = 'I am Groot'
for temp in data:
    print(temp)
    print()

I



a

m



G

r

o

o

t

In [50]:
data = 'I am Groot'
for temp in enumerate(data):
    print(temp)

(0, 'I')
(1, ' ')
(2, 'a')
(3, 'm')
(4, ' ')
(5, 'G')
(6, 'r')
(7, 'o')
(8, 'o')
(9, 't')

In [64]:
data = ((0, 'I', 55),(1, ' ', 67),(2, 'a', 72),(3, 'm', 98),(4, ' ', 90),(5, 'G', 55),(6, 'r', 21),(7, 'o', 25),(8, 'o', 81),(9, 't', 101))
for a,b,c in data:
    print(a)
    print(b)
    print(c)
    print()

0
I
55

1

67

2
a
72

3
m
98

4

90

5
G
55

6
r
21

7
o
25

8
o
81

9
t
101

In [66]:
data = ((0, 'I', (55,43,918)),
        (1, ' ', 67),
        (2, 'a', 72),
        (3, 'm', 98),
        (4, ' ', (90,'a',55)),
        (5, 'G', 55),
        (6, 'r', 21),
        (7, 'o', 25),
        (8, 'o', (81,'pqr')),
        (9, 't', 101))

for i,j,k in data:
    if type(i)==tuple:
        print(i,j,k)
        for a in i:
            print(a)
    elif type(j) == tuple:
        print(i,j,k)
        for a in j:
            print(a)
    elif type(k) == tuple:
        print(i,j,k)
        for a in k:
            print(a)

0 I (55, 43, 918)
55
43
918
4   (90, 'a', 55)
90
a
55
8 o (81, 'pqr')
81
pqr

In [57]:
data = ((0, 'I'),(1, ' '),(2, 'a'),(3, 'm'),(4, ' '),(5, 'G'),(6, 'r'),(7, 'o'),(8, 'o'),(9, 't',55))

for a,b,c in data:
    print(a,b,c)

ValueError: not enough values to unpack (expected 3, got 2)

In [ ]:
a,b,c = (0, 'I')

a = 0
b = 'I'
c = ?

In [59]:
data = (1,2,3,4,5)

data1, data2, data3, data4, data5 = (1,2,3,4,5)

In [61]:
print(data1)
print(data2)
print(data3)
print(data4)
print(data5)

1
2
3
4
5

### Tuple unpacking

- When we are accessing n number of elements from a iterable of length n directly
- x,y = (10,20) : x=10, y=20

In [ ]:
x,y = 10,20

### b. The `zip` function

In [67]:
students = ('Ramesh', 'Suresh', 'Suraj', 'Thanos')
marks = (55, 92, 78, 5)

for index in range(len(students)):
    print(f'{students[index]} has secured {marks[index]} marks !')

Ramesh has secured 55 marks !
Suresh has secured 92 marks !
Suraj has secured 78 marks !
Thanos has secured 5 marks !

In [70]:
students = ('Ramesh', 'Suresh', 'Suraj', 'Thanos')
marks = (55, 92, 78, 5)
result = ('Pass','Pass','Pass','Fail')

for student_name, marks_obtained, final_result in zip(students, marks, result):
    print(f'{student_name} has secured {marks_obtained} marks !')
    print(f'{student_name} has {final_result}ed the test !')
    print()

Ramesh has secured 55 marks !
Ramesh has Passed the test !

Suresh has secured 92 marks !
Suresh has Passed the test !

Suraj has secured 78 marks !
Suraj has Passed the test !

Thanos has secured 5 marks !
Thanos has Failed the test !

In [ ]:
students = ('Ramesh', 'Suresh', 'Suraj', 'Thanos')
marks = (55, 92, 78, 5)
result = ('Pass','Pass','Pass','Fail')

# zip(students, marks, result)  >>>  (('Ramesh',55, 'Pass'),('Suresh',92, 'Pass'),('Suraj',78, 'Pass'),('Thanos',5, 'Pass'))

### c. Using the keyword `in` with a tuple

- Used to check the presence of an element in the tuple
- syntax : element in tuple_name

In [75]:
data = (1,2,3,4,5,'007','Griffin')

'Griffin' in data, 98 in data, 'G' in data

(True, False, False)

In [73]:
55 in 67

TypeError: argument of type 'int' is not iterable

### d. Using the keyword `all` with a tuple

- Needs all the values to be True

In [90]:
data = (True, False, True, True, False)
all(data)

False

In [99]:
cases = ('case-1', 'case-2', 'case-3')
data1 = (1,2,3,4)
data2 = (0.01, 0.45, 0.57)
data3 = (-0.5, 56, 90)

for case, exp_1, exp_2, exp_3 in zip(cases, data1, data2, data3):
    if all((exp_1>0, exp_2>0, exp_3>0)):
        print(f'{case} Passed !')
    else:
        print(f'{case} Failed')
    print()

case-1 Failed

case-2 Passed !

case-3 Passed !

In [104]:
string = None
bool(string)

False

### e. Using the keyword `any` with a tuple

- Even if a single value is True, any would return True

In [91]:
data = (True, False, True, True, False)
any(data)

True

### f. The `None` data type

instantiate:
    x = None

In [88]:
data = (-1,-5,-2,-8,-44,-6,-123,-54,-89,-45,-3, -0.5)

max_number = None

for index in range(len(data)):
    if index == 0:
        max_number = data[index]
    if data[index]>max_number:
        max_number = data[index]

In [89]:
max_number

-0.5

In [85]:
type(None)

NoneType

### Conversion into booleans

In [93]:
bool(1)

True

In [94]:
bool(10348767836458764857)

True

In [95]:
bool(0)

False

- 0 if converted into boolean would always render `False`
- Everything else would give `True`

### Question

### Finding the second most frequent element in a string

In [115]:
data = input('Please enter your data : ').lower().replace(' ','')

letters = tuple()
frequencies = tuple()

for letter in data:
    if not letter in letters:
        letters = letters.__add__((letter,))
        frequencies = frequencies.__add__((data.count(letter),))

sorted_freq = sorted(frequencies)
second_max_freq = sorted_freq[-2]


second_max_letter = None
for index, letter in enumerate(letters):
    if frequencies[index] == second_max_freq:
        second_max_letter = letter
        break

print(f'The second max occurring letter is {second_max_letter} and it occurs {second_max_freq} times.')

Please enter your data : I am Groot. I am not your enemy. I just am Groot !
The second max occurring letter is m and it occurs 4 times.