- Mutable data type : We can make changes in the original list without updating its variable explicitly
- A collection data-type{iterables} in which the elements are seperated by commas inside square brackets
- A list can host absolutely any data type : This is a heterogeneous data-type
- syntax : list(collection data type) > classic example of type-casting
         : [elements]

In [1]:
my_list = ['Groot']
type(my_list), my_list

(list, ['Groot'])

In [2]:
data = ['I am Groot', 1,2,3, 1.234, True, None, (1,2,3), ['a','b',567]]
data

['I am Groot', 1, 2, 3, 1.234, True, None, (1, 2, 3), ['a', 'b', 567]]

In [4]:
data = list('I am Groot')
data

['I', ' ', 'a', 'm', ' ', 'G', 'r', 'o', 'o', 't']

In [10]:
data = list(('I am Groot',))
data

['I am Groot']

### 1. Indexing in lists

In [11]:
data = ['I am Groot', 1,2,3, 1.234, True, None, (1,2,3), ['a','b',567]]
len(data)

9

In [12]:
data[-1]

['a', 'b', 567]

In [13]:
data[len(data)-1]

['a', 'b', 567]

In [14]:
data[8]

['a', 'b', 567]

### 2. Slicing in lists

In [17]:
data[1:8:2]

[1, 3, True, (1, 2, 3)]

### 3. Length function in lists

In [18]:
len(data)

9

### 4. sorted function in lists

In [20]:
data = [1,2,3,4,5,6.6,7,-0.52435]
sorted(data)

[-0.52435, 1, 2, 3, 4, 5, 6.6, 7]

In [21]:
dir(data)

['__add__',
 '__class__',
 '__class_getitem__',
 '__contains__',
 '__delattr__',
 '__delitem__',
 '__dir__',
 '__doc__',
 '__eq__',
 '__format__',
 '__ge__',
 '__getattribute__',
 '__getitem__',
 '__gt__',
 '__hash__',
 '__iadd__',
 '__imul__',
 '__init__',
 '__init_subclass__',
 '__iter__',
 '__le__',
 '__len__',
 '__lt__',
 '__mul__',
 '__ne__',
 '__new__',
 '__reduce__',
 '__reduce_ex__',
 '__repr__',
 '__reversed__',
 '__rmul__',
 '__setattr__',
 '__setitem__',
 '__sizeof__',
 '__str__',
 '__subclasshook__',
 'append',
 'clear',
 'copy',
 'count',
 'extend',
 'index',
 'insert',
 'pop',
 'remove',
 'reverse',
 'sort']

### 1. Adding items in the list

### Examples of adding elements in the tuples

In [23]:
tup1 = (23,56)
tup2 = (12,1,2,3)

tup1 + tup2

(23, 56, 12, 1, 2, 3)

In [24]:
tup1.__add__(tup2)

(23, 56, 12, 1, 2, 3)

In [25]:
tup1

(23, 56)

In [26]:
tup2

(12, 1, 2, 3)

### a. append

- Adds the described element at the end of the given list
- updates the original list only ; no need to update the variable externally
- syntax : `list_name.append(element_to_add)`
- is an `inplace` function : inplace functions are the functions that update the same data directly

In [29]:
my_list = [1,2,3,4,5]
element = [6]

print(f'1. The list looks like : {my_list}')
my_list.append(element)
print(f'2. The list looks like : {my_list}')

1. The list looks like : [1, 2, 3, 4, 5]
2. The list looks like : [1, 2, 3, 4, 5, [6]]

In [30]:
my_list

[1, 2, 3, 4, 5, [6]]

### b. `__add__`

- Both the elements should be of the same type

In [39]:
my_list = [1,2,3,4,5]
element = [[6]]

new_variable = my_list.__add__(element)

new_variable

[1, 2, 3, 4, 5, [6]]

In [40]:
my_list

[1, 2, 3, 4, 5]

### c. using the `+` operator

In [41]:
my_list = [1,2,3,4,5]
element = [[6]]

new_variable = my_list + element
new_variable

[1, 2, 3, 4, 5, [6]]

In [42]:
my_list

[1, 2, 3, 4, 5]

In [43]:
element

[[6]]

In [50]:
names = input('Enter the comma separated names : ')
name_list = names.split(',')

Enter the comma separated names : Groot,Iron Man,   Spider man, Pablo escobar

In [51]:
name_list

['Groot', 'Iron Man', '   Spider man', ' Pablo escobar']

In [52]:
for index in range(len(name_list)):
    name_list[index] = name_list[index].strip()

In [53]:
name_list

['Groot', 'Iron Man', 'Spider man', 'Pablo escobar']