### 1. append

list_name.append(element)

In [10]:
my_list = [1,2,3,4,5]
my_list.append(100)
my_list

[1, 2, 3, 4, 5, 100]

In [13]:
my_list = [1,2,3,4,5]
my_list.append(100)
dummy_variable = my_list

In [14]:
dummy_variable, my_list

([1, 2, 3, 4, 5, 100], [1, 2, 3, 4, 5, 100])

### 2. `__add__`

list_name.__add__([element])

In [15]:
my_list = [1,2,3,4,5]
dummy_variable = my_list.__add__([100])
dummy_variable

[1, 2, 3, 4, 5, 100]

In [16]:
dummy_variable, my_list

([1, 2, 3, 4, 5, 100], [1, 2, 3, 4, 5])

### 3. extend

list_name.extend(another_list) #--- inplace operation #----needs both the elements to be iterables

- merges the internal list with the first list : [first list elements, second list elements]

In [21]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

# list1 = [1,2,3,4,5,6,7,8,9,0]

In [19]:
list1.append(list2)
list1

[1, 2, 3, 4, 5, [6, 7, 8, 9, 0]]

In [22]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

for i in list2:
    list1 = list1.__add__([i])

list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [23]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

list1 = list1+list2

list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [24]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

list1 = list1.__add__(list2)
list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [25]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

list1.extend(list2)

list1

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

In [28]:
list1 = [1,2,3,4,5]
element = [55]

list1.extend(element)
list1

[1, 2, 3, 4, 5, 55]

In [29]:
list1 = [1,2,3,4,5]
tuple1 = ('a','b','c')

list1.extend(tuple1)
list1

[1, 2, 3, 4, 5, 'a', 'b', 'c']

In [30]:
list1 = [1,2,3,4,5]
tuple1 = ('a','b','c')

list1.append(tuple1)
list1

[1, 2, 3, 4, 5, ('a', 'b', 'c')]

In [33]:
list1 = [1,2,3,4,5]
list2 = [6,7,8,9,0]

[*list1, *list2]

[1, 2, 3, 4, 5, 6, 7, 8, 9, 0]

### 4.count

list_name.count(element)

returns the number of occurences of the given element in the list

In [45]:
list1 = [1,2,3,4,1,2,7,8,9]
list1.count(1)

2

### 5. index

list_name.index(element)

- returns the index of the first occurence of the element in the list
- raises error if the element is absent

In [3]:
list1 = [1,2,3,4,5,6,['a',55]]

list1.index(55)

ValueError: 55 is not in list

In [47]:
list1[-1].index(55)

1

In [48]:
list1[-1]

['a', 55]

In [49]:
['a', 55].index(55)

1

In [51]:
element = 55
if element in list1:
    print(list1.index(element))
else:
    print(f'{element} is absent')

55 absent

### 6. insert

list_name.insert(index_to_place_the_element_in, element)

- insert the given element at the given position

In [7]:
list1 = [1,2,3,4,5]
list1.insert(0,'a')
list1

['a', 1, 2, 3, 4, 5]

In [55]:
list1 = [1,2,3,4,5]
list1.insert(4,'c')
list1

[1, 2, 3, 4, 'c', 5]

In [56]:
list1 = [1,2,3,4,5]
list2 = ['a','b','c']

list1.insert(2,list2)
list1

[1, 2, ['a', 'b', 'c'], 3, 4, 5]

In [58]:
index_ = 2

list1 = [1,2,3,4,5]
list2 = ['a','b','c']

list1[:index_].__add__(list2).__add__(list1[index_:])

[1, 2, 'a', 'b', 'c', 3, 4, 5]

In [63]:
index_ = 2

list1 = [1,2,3,4,5]
list2 = ['a','b','c']

for i in list2[::-1]:
    list1.insert(index_,i)
    print(list1)
    print()
list1

[1, 2, 'c', 3, 4, 5]

[1, 2, 'b', 'c', 3, 4, 5]

[1, 2, 'a', 'b', 'c', 3, 4, 5]

[1, 2, 'a', 'b', 'c', 3, 4, 5]

In [64]:
list1 = [1,2,3,4,5]

list1[0], list1[4] = list1[4], list1[0]
list1

[5, 2, 3, 4, 1]

In [71]:
list1 = [1,2,3,4,5]

first = list1[0]
last = list1[-1]

list2 = list1[1:]
list2.insert(0,last)

list2 = list2[:-1]
list2 = list2[::-1]
list2.insert(0,first)
list2 = list2[::-1]
list2

[5, 2, 3, 4, 1]

### 7. sort

list.sort(reverse = False)

- sorts the elements of the list
- inplace function

In [72]:
list1 = [1,32,67,12,10,1089,8]
sorted(list1), list1

([1, 8, 10, 12, 32, 67, 1089], [1, 32, 67, 12, 10, 1089, 8])

sorted() > built-in function of python, wont change the iterable in place

In [73]:
list1 = [1,32,67,12,10,1089,8]
list1.sort()
list1

[1, 8, 10, 12, 32, 67, 1089]

1. datatype_name.function() # can be inplace functions, are explicit for these datatypes only
2. function(datatype_name) # usually are not inplace type and are generic to a number of data types

### 8. reverse

list_name.reverse()

- reverses the list

In [74]:
list1 = [1,4,2,3,5]
list1.reverse()
list1

[5, 3, 2, 4, 1]

In [75]:
list1[::-1]

[1, 4, 2, 3, 5]

### 9. copy

list_name.copy()

- generates a shallow copy of the current object

In [76]:
list1 = [1,2,3,4,5]

list2 = list1  # creating a referenced object

list1.append(100)

list1, list2

([1, 2, 3, 4, 5, 100], [1, 2, 3, 4, 5, 100])

In [77]:
id(list1), id(list2)

(4406760192, 4406760192)

#### Using .copy() function

In [98]:
list1 = [1,2,3,4,5]

list2 = list1.copy() # creating a different object

list1.append(100)

list1, list2

([1, 2, 3, 4, 5, 100], [1, 2, 3, 4, 5])

In [99]:
id(list1), id(list2)

(4406757312, 4407495168)

In [100]:
list1.__sizeof__(), list2.__sizeof__()

(88, 80)

### 10. clear

list_name.clear()

- empties the list

In [103]:
list1 = [1,2,3,4,5]
list1.clear()
list1

[]

del is used to delete the entire variable from the memory
list.clear() is just used to empty the list, it still would exist in the memory

### 11. pop

list_name.pop(index)

- removes the particular element from the list
- by default it removes the last element of the list
- if provided with a valid index, it would remove the element at that index
- default index = -1 {last element}

- returns the item that is been removed from the list

In [116]:
list1 = [1,2,3,4,5]
list1.pop()
list1

[1, 2, 3, 4]

In [114]:
list1 = [1,2,3,4,5]
x = list1.pop()
x

5

In [118]:
list1 = [1,2,3,4,5]
list1.pop(2)
list1

[1, 2, 4, 5]

### 12. remove

list_name.remove(element to be removed)

- takes in a value and removes the first instance
- raises a value error if the element is absent in the list

In [119]:
list1 = [1,2,3,4,5,5,5]
list1.remove(5)

In [120]:
list1

[1, 2, 3, 4, 5, 5]

In [121]:
list1 = [1,2,3,4,5,5,5]
list1.remove(6)

ValueError: list.remove(x): x not in list