#### Some more functions
1. assert
2. abs
3. pow
4. iter and next

### Special built in functions

1. filter
2. map
3. eval

### 1. assert function

- Used usually in conditionals to check for assertions
- Throws assertion error in case the condition is not passed
- Usually used to raise errors
- Usually used when we have a strict condition for something

In [2]:
for i in range(100):
    print(i)
    assert i==10

0

AssertionError:

In [5]:
name1 = input('Enter the name without spaces : ')
name2 = input('Enter the name without spaces : ')

assert len(name1) == len(name1.replace(' ',''))
assert len(name2) == len(name2.replace(' ',''))

print('Everything is fine...')

Enter the name without spaces : Subhash Rastogi
Enter the name without spaces : Rahul Mahajan

AssertionError:

### 2. abs

- mathematical absolute
- returns the magnitude of the given number irrespective of its direction{sign}

_-6_-5_-4_-3_-2_-1_0_1_2_3_4_5_6_

In [6]:
abs(55)

55

In [7]:
abs(-55)

55

In [8]:
abs(-734665873458763458.47657346586485)

7.346658734587635e+17

### 3. pow

- power

pow(number, power)

In [9]:
pow(2,3)

8

In [10]:
pow(5,2)

25

### 4. Writing numbers in exponential terms

In [11]:
number = 1e-3
number

0.001

In [12]:
number = 1e6
number

1000000.0

### 5 . iter and next

In [24]:
my_list = [1,5,2,3,7,8]
type(my_list)

list

In [23]:
# Converting the iterable into an iter object
iter_my_list = iter(my_list)

type(iter_my_list)

list_iterator

In [15]:
next(iter_my_list)

1

In [16]:
next(iter_my_list)

5

In [17]:
next(iter_my_list)

2

In [18]:
next(iter_my_list)

3

In [19]:
next(iter_my_list)

7

In [20]:
next(iter_my_list)

8

In [21]:
next(iter_my_list)

StopIteration:

### 1. filter function


- used to filter out things based on a certain condition
- Takes in a function-object and an iterable to operate the function up on
- Returns an iterable with elements from the input iterable which satisfied the criteria
- returns an iterable filtered object that can be converted into a list/tuple/set etc by typecasting to be used

### Syntax :

```python
filter(function_object, iterable)
```

sum()  > function
sum    > function-object

In [28]:
# To create a function object we just write the name of the function without parenthesis
# We can store function objects in diff variables as well
x = sum # creating the function object


# to use a function object all we have to do is just use parenthesis in front of the function object and 
# provide the exact number of arguments that the original function takes
x((2,3)) # using the function object

5

In [42]:
my_list = [i for i in range(1,100)]

lmb_div_7 = lambda x : True if x%7==0 else False

In [43]:
my_filtered_object = filter(lmb_div_7, my_list)

type(my_filtered_object)

filter

In [41]:
list(my_filtered_object)

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [36]:
[i for i in my_list if lmb_div_7(i)==True]

[7, 14, 21, 28, 35, 42, 49, 56, 63, 70, 77, 84, 91, 98]

In [44]:
name_list = ['ashutosh', 'Sangram', 'swapnil', 'Musaib', 'Gayatri', 'ketali']

lowercaser = lambda x : x.islower()

filtered_names = filter(lowercaser, name_list)
type(filtered_names)

filter

In [45]:
tuple(filtered_names)

('ashutosh', 'swapnil', 'ketali')

### 2. map

- to implement a function on a number of elements at once

#### Syntax :

```python
map(function_object, iterable)
```

##### Single parameter

In [48]:
adder_2 = lambda x : x+2

my_list = list(range(1,11))
my_list

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [50]:
mapped_object = map(adder_2, my_list)
type(mapped_object)

map

In [51]:
list(mapped_object)

[3, 4, 5, 6, 7, 8, 9, 10, 11, 12]

##### Multiple parameters

All the lists should have equal number of elements

In [56]:
product_function = lambda x,y : x*y

my_list_1 = list(range(1,11))
my_list_2 = list(range(11,21))

assert len(my_list_1) == len(my_list_2)

print('Both lists are of equal lengths...')
print('mapping the function on the iterables....')

mapped_object = map(product_function, my_list_1, my_list_2)
print(f'Mapped object data type : {type(mapped_object)}\n')

final_list = list(mapped_object)
print(f'First list : {my_list_1}')
print(f'Second list : {my_list_2}\n')
print(f'Final list : {final_list}')

Both lists are of equal lengths...
mapping the function on the iterables....
Mapped object data type : <class 'map'>

First list : [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Second list : [11, 12, 13, 14, 15, 16, 17, 18, 19, 20]

Final list : [11, 24, 39, 56, 75, 96, 119, 144, 171, 200]

### 3. eval

- used to execute expressions in strings

In [60]:
x = 'print("I am Groot !")'
x

'print("I am Groot !")'

In [58]:
print("I am Groot !")

I am Groot !

In [59]:
eval(x)

I am Groot !

In [61]:
y = 'x=55'

eval(y)

SyntaxError: invalid syntax (<string>, line 1)