# Print Function

# Run commands

1. Shift + Enter >> runs the current cell and navigates to the next one
2. ctrl + Enter >> runs the current cell and stays at the current cell
3. Alt + Enter >> runs the current cell and generates a new black cell beneath the current cell

Print function : 
- built-in function : `perform a specific operation whenever called`
- syntax : `print(content)`

In [2]:
# this is how we work with text data
print('dfjhvdjhfv')

dfjhvdjhfv

In [3]:
# This is how we work with numeric data
print(5)

5

In [4]:
print(4.0)

4.0

In [5]:
type(4.0)

float

In [6]:
type(5)

int

In [7]:
type('dfjhvdjhfv')

str

## Ways to print stuff

In [8]:
#1. Hardcoded printing
print('I am Groot !')

I am Groot !

In [9]:
print('I am Groot !', 'I am Groot !', 5, 4.0)

I am Groot ! I am Groot ! 5 4.0

In [10]:
print(('I am Groot !', 'I am Groot !', 5, 4.0))

('I am Groot !', 'I am Groot !', 5, 4.0)

## 2 . Dynamic printing - String formatting

### 2.1. F-strings - Formatted strings

In [11]:
# syntax : f'content {variable_name}'
# disclaimer : The f-string tries to pull the valeus of the variables explicitly mentioned inside the curly brackets; 
#     if the variable does not exist, it throws a NameError

name = 'Jadoo'
print(f'I am {name} !')

I am Jadoo !

In [12]:
x = 17
y = 4
z = x+y

print('The sum of x and y is 7')
print('My content',f'The sum of {x} and {y} is {z}')
print(f'My content',f'The sum of {x} and {y} is {z}')

The sum of x and y is 7
My content The sum of 17 and 4 is 21
My content The sum of 17 and 4 is 21

In [13]:
p = 34
q = 55
r = p+q
print(f'The sum of {p} and {q} is {r}')
print(f'The sum of {p} and {q} is {r}')

The sum of 34 and 55 is 89
The sum of 34 and 55 is 89

In [14]:
print('The sum of {q} and {p} is {r}')
print(f'The sum of {q} and {p} is {r}')
print(f'{r} is the sum of {p} and {q}')
print(f'{r} is the sum of {p} and {p+r}')

The sum of {q} and {p} is {r}
The sum of 55 and 34 is 89
89 is the sum of 34 and 55
89 is the sum of 34 and 123

In [15]:
course = 'Data Science'
course = 55
# print(f'I am learning {course1} and {course2} !')
print(f'The data-type of {course} is {type(course)}, The data-type of {course} is {type(course)} !')

The data-type of 55 is <class 'int'>, The data-type of 55 is <class 'int'> !

In [16]:
name = 'Groot'
name = 'Thor'
name = 'IronMan'

# print(name1, name2, name3)
print(name)

IronMan

In [17]:
# Checking out all the variables
%whos

Variable   Type    Data/Info
----------------------------
course     int     55
name       str     IronMan
p          int     34
q          int     55
r          int     89
x          int     17
y          int     4
z          int     21

### 2. Using commas

In [18]:
name1 = 'Ramesh'
name2 = 'Suresh'
print(name1,'is eating',name2,'candy')

Ramesh is eating Suresh candy

In [30]:
mangoes = 5
apples = 10
print('I have',mangoes,'mangoes !')
print(f'I have {mangoes} mangoes and {apples} apples !')

I have 5 mangoes !
I have 5 mangoes and 10 apples !

### 3. Using %

In [43]:
x = 1
y = 2
z = 3

print('The value of x is %d, the value of y is %d and the value of z is %d' %(x,y,z))
print('The value of x is %f, the value of y is %f and the value of z is %f' %(x,y,z))
print('The value of x is %s, the value of y is %s and the value of z is %s' %(type(x),type(y),type(z)))

The value of x is 1, the value of y is 2 and the value of z is 3
The value of x is 1.000000, the value of y is 2.000000 and the value of z is 3.000000
The value of x is <class 'int'>, the value of y is <class 'int'> and the value of z is <class 'int'>

In [42]:
x = 1.1
y = 1.2
z = 1.3

print('The value of x is %d, the value of y is %d and the value of z is %d' %(x,y,z))
print('The value of x is %f, the value of y is %f and the value of z is %f' %(x,y,z))
print('The value of x is %s, the value of y is %s and the value of z is %s' %(type(x),type(y),type(z)))

The value of x is 1, the value of y is 1 and the value of z is 1
The value of x is 1.100000, the value of y is 1.200000 and the value of z is 1.300000
The value of x is <class 'float'>, the value of y is <class 'float'> and the value of z is <class 'float'>

### 4. dot format method

In [46]:
first_name = 'Nilotpal'
last_name = 'Malakar'

print('My name is {} {}'.format(first_name,last_name))
print(f'My name is {first_name} {last_name}')

My name is Nilotpal Malakar
My name is Nilotpal Malakar

In [3]:
aa = 90
bb = 72
# cc = 107
dd = 53

print(aa,bb,cc,dd)

90 72 73 53

In [2]:
%whos

Variable   Type    Data/Info
----------------------------
aa         int     55
bb         int     64
cc         int     73
dd         int     51

In [4]:
%whos

Variable   Type    Data/Info
----------------------------
aa         int     90
bb         int     72
cc         int     73
dd         int     53