Variables :
- Containers to store values/ different types of data
- The values can be initiated, updated or deleted

## Initializing a variable

In [28]:
x = 55 # Assignment : Assigning values to a non-existing variable

In [29]:
print(x)

55

## Updating an existing variable

In [30]:
x = 66 # Replaces the existing value for an already existing variable

In [31]:
print(x)

66

In [39]:
x = 'Groot'

In [33]:
print(x)

Groot

In [34]:
y = 'Iron Man'
z = 'Darth Vader'

In [35]:
print(x,y,z, sep = '_')

Groot_Iron Man_Darth Vader

## Deleting a variable

In [36]:
x

'Groot'

In [41]:
del x # Removes the variable from the memory itself

In [42]:
x

NameError: name 'x' is not defined

In [26]:
print(y,z)

Iron Man Darth Vader

In [27]:
%whos

Variable       Type    Data/Info
--------------------------------
data           str     hello_there__i_am_learning_data_science_
final_result   str     hello_there_i_am_learning_data_science
y              str     Iron Man
z              str     Darth Vader

In [43]:
del data

In [44]:
%whos

Variable       Type    Data/Info
--------------------------------
final_result   str     hello_there_i_am_learning_data_science
y              str     Iron Man
z              str     Darth Vader

In [45]:
del final_result

In [46]:
%whos

Variable   Type    Data/Info
----------------------------
y          str     Iron Man
z          str     Darth Vader

In [50]:
x = 55
y = 56
z = 73

# Delete x
del x

print(y,z)

56 73

In [51]:
%whos

Variable   Type    Data/Info
----------------------------
y          int     56
z          int     73

total memory = 100 mb

variables = x,y,z

x = 50mb
y = 20mb
z = 20mb

(x = y+z)
del y
del z

p ~ 50mb

In [67]:
x = 51
y = 223
z = 765

print(x,y,z)

51 223 765

In [68]:
%whos

Variable   Type    Data/Info
----------------------------
x          int     51
y          int     223
z          int     765