##### Rule 1. The variable name should be self-explanatory

In [1]:
# Price per kg
mangoes_price = 200
apples_price = 250
banana_price = 100

# Units sold for the day
mangoes = 10
apples = 8
banana = 13

overall_income = (mangoes_price * mangoes) + (apples_price * apples) + (banana_price * banana)
overall_income

5300

In [2]:
x = 200
y = 250
z = 100

a = 10
b = 8
c = 13

m = (x*a) + (y*b) + (z*c)
m

5300

##### Rule 2 : The variable name can only contain alphanumeric terms and '_' ; No special characters are allowed ; the variable name should never start with a number

In [5]:
student1 = 'Ramesh'

In [6]:
student_1 = 'Ramesh'

In [7]:
_student1 = 'Ramesh'

In [9]:
student_1_0 = 'Ramesh'

In [8]:
1st_student = 'Ramesh'

SyntaxError: invalid syntax (3959850185.py, line 1)

In [10]:
name? = 'Groot'

SyntaxError: invalid syntax (2264167605.py, line 1)

##### Rule 3 : The variable names are case-sensitive

In [11]:
Name = 'Groot'
name = 'Wakanda'

Name, name

('Groot', 'Wakanda')

In [12]:
name__ = 'Tony'
name_ = 'Iron Man'

name__, name_

('Tony', 'Iron Man')

In [13]:
%whos

Variable         Type    Data/Info
----------------------------------
Name             str     Groot
a                int     10
apples           int     8
apples_price     int     250
b                int     8
banana           int     13
banana_price     int     100
c                int     13
m                int     5300
mangoes          int     10
mangoes_price    int     200
name             str     Wakanda
name_            str     Iron Man
name__           str     Tony
overall_income   int     5300
student1         str     Ramesh
student_1        str     Ramesh
student_1_0      str     Ramesh
x                int     200
y                int     250
z                int     100

#### ex. Example of upper_case and lower_case use cases

In [23]:
# Configuration file
MANGOES_PRICE = 200
APPLES_PRICE = 250
BANANA_PRICE = 80

MANGOES = 20
APPLES = 8
BANANA = 18

DATE = '21-10-2022'

In [24]:
# Price per kg
mangoes_price = MANGOES_PRICE
apples_price = APPLES_PRICE
banana_price = BANANA_PRICE

# Units sold for the day
mangoes = MANGOES
apples = APPLES
banana = BANANA

date = DATE

overall_income = (mangoes_price * mangoes) + (apples_price * apples) + (banana_price * banana)
print(f'The overall income for {date} is {overall_income} !')

total_products_sold = mangoes+apples+banana
print(f'Total {total_products_sold} were sold !')

The overall income for 21-10-2022 is 7440 !
Total 46 were sold !

#### Note : Camel case Vs snake case

In [25]:
student_id = '4418acd' # example of snake case variable name
StudentID = '4418acd' # example of camel case variable name

- StudentName, VariableName, ClientName, VersionID > examples of pascal case
- studentName, variableName, clientName, versionID > examples of camel case
- student_name, variable_name, client_name, version_id > examples of snake case

##### Rule 4 : We cannot use reserved keywords as variable names

### Syntax for help
- help(keyword in quotes) OR help(function name without parenthesis)
- eg. for a keyword - help('del')
- eg. for a function - help(print)

In [27]:
# To get a list of the reserved keywords
help('keywords')

Here is a list of the Python keywords.  Enter any keyword to get more help.

False               break               for                 not
None                class               from                or
True                continue            global              pass
__peg_parser__      def                 if                  raise
and                 del                 import              return
as                  elif                in                  try
assert              else                is                  while
async               except              lambda              with
await               finally             nonlocal            yield

In [28]:
del = 55

SyntaxError: invalid syntax (841670873.py, line 1)

In [29]:
if = 55

SyntaxError: invalid syntax (4261897127.py, line 1)

In [32]:
Del = 55
del_ = 56

In [33]:
Del, del_

(55, 56)

In [34]:
True = 67
False = 33

True+False

SyntaxError: cannot assign to True (2777739020.py, line 1)

In [36]:
True_ = 67
False_ = 33

True_+False_

100

In [37]:
_True = 56
_False = 44

_True + _False

100

##### Keywords Vs functions

- Functions always need `parenthesis` '()' after the function name while keywords wont need those to work
- A function would be storing an operation/ sequence of operations within and hence we will get some value as an output from a function
- A keyword is usually used as a helper to write logics or create functions

In [39]:
a = 55
b = 45

sum((a,b))

100

In [40]:
x = 50

if x>10:
    print('X is greater than 10')

X is greater than 10

In [41]:
print('I am groot !')

I am groot !

In [42]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [43]:
%whos

Variable              Type    Data/Info
---------------------------------------
APPLES                int     8
APPLES_PRICE          int     250
BANANA                int     18
BANANA_PRICE          int     80
DATE                  str     21-10-2022
Del                   int     55
EXTENSION             str     .txt
False_                int     33
MANGOES               int     20
MANGOES_PRICE         int     200
Name                  str     Groot
ROOT_PATH             str     c:/users/groot/
StudentID             str     4418acd
True_                 int     67
a                     int     55
apples                int     8
apples_price          int     250
b                     int     45
banana                int     18
banana_price          int     80
c                     int     13
date                  str     21-10-2022
del_                  int     56
false                 int     33
m                     int     5300
mangoes               int     20
mangoes_price         int     200
name                  str     Wakanda
name_                 str     Iron Man
name__                str     Tony
overall_income        int     7440
student1              str     Ramesh
student_1             str     Ramesh
student_1_0           str     Ramesh
student_id            str     4418acd
total_products_sold   int     46
true                  int     67
x                     int     50
y                     int     250
z                     int     100

##### Caution : We should never over-write the built-in functions ; We should never use the names of built-in functions as variable names

In [45]:
print('Hello ! I am Rajesh !')

Hello ! I am Rajesh !

In [5]:
print = 'Ramesh'

In [6]:
print

'Ramesh'

In [47]:
print('I am Rajesh')

TypeError: 'str' object is not callable

In [48]:
del print

In [49]:
print('I am Ramesh')

I am Ramesh

In [50]:
help = 'Peter Parker'

In [51]:
help(print)

TypeError: 'str' object is not callable

In [54]:
x = 55
y = 123
z = 67
a = 90
b = 45

final = x+y+z+a+b
final

380

In [57]:
sum((x,y,z,a,b))

380

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [3]:
help('if')

The "if" statement
******************

The "if" statement is used for conditional execution:

   if_stmt ::= "if" assignment_expression ":" suite
               ("elif" assignment_expression ":" suite)*
               ["else" ":" suite]

It selects exactly one of the suites by evaluating the expressions one
by one until one is found to be true (see section Boolean operations
for the definition of true and false); then that suite is executed
(and no other part of the "if" statement is executed or evaluated).
If all expressions are false, the suite of the "else" clause, if
present, is executed.

Related help topics: TRUTHVALUE

##### Note : Ways to assign variables

In [10]:
# Defining variables one by one
x = 55
y = 67
z = 78

print(x,y,z)

55 67 78

In [12]:
# Defining multiple variables in a single line 
x,y,z = 100,'Groot',300

print(x,y,z)

100 Groot 300

In [34]:
a,b = 'Groot', 'Iron Man'
print(a,b)

Groot Iron Man

In [19]:
# This would reduce runtime
x1,x2,x3,x4,x5,x6,x7,x8,x9,x10,x11,x12,x13,x14,x15 = 10,20,30,40,50,60,70,80,90,100,110,120,130,140,150

In [24]:
# This would take more time
x1=10
x2=20
x3=30
x4=40
x5=50
x6=60
x7=70
x8=80
x9=90
x10=100
x11=110
x12=120
x13=130
x14=140 
x15=150

##### Interchanging the values of variables

In [35]:
a, b = 5,4

In [36]:
# Old traditional way
temporary = a
a = b
b = temporary

print(a,b)

4 5

In [37]:
a,b

(4, 5)

In [38]:
# Python's way
a,b = 4,5
# 1
a,b = b,a # a = 5, b = 4
# 2
print(a,b)

5 4

In [39]:
a,b,c = 1,2,3

a,b = c,a

print(a,b,c)

3 1 3