In [8]:
print('Hello World !')

Hello World !

In [11]:
# Ramesh and Suresh are best friends !
print('Ramesh and Suresh are best friends !')

Ramesh and Suresh are best friends !

In [26]:
name1,name2 = 'Bablu', 'Tony'

statement1 = f'{name1} lives in Delhi !'
statement2 = f'{name2} lives in Mumbai !'
print(f'{name1} and {name2} are best friends !')
print(statement1, statement2)

Bablu and Tony are best friends !
Bablu lives in Delhi ! Tony lives in Mumbai !

In [28]:
# print(content)
# print(contents seperated by a comma)

print(x, y)

15 12

In [30]:
%whos

Variable     Type    Data/Info
------------------------------
i            int     31200
name1        str     Bablu
name2        str     Tony
path_        str     nilotpal\narayan\users
statement1   str     Bablu lives in Delhi !
statement2   str     Tony lives in Mumbai !
temp         int     31215
x            int     15
y            int     12
z            int     33

In [35]:
data = 'Ramesh is a nice person. He donates atleast 50 rs everyday. He feeds the poor and helps the needy.'

In [36]:
print(data)

Ramesh is a nice person. He donates atleast 50 rs everyday. He feeds the poor and helps the needy.

In [37]:
print(type(data))

<class 'str'>

In [38]:
data = 1234

In [39]:
print(data)

1234

In [40]:
print(type(data))

<class 'int'>

In [41]:
data = '1234'

In [42]:
print(data)

1234

In [43]:
print(type(data))

<class 'str'>

In [ ]:
# data, Data, daTa, DaTa, dAtA......

In [44]:
data = 123
Data = 'I love pizza'
dAtA = 'I am groot'
datA = 'Lets go bananas'

In [45]:
data

123

In [46]:
Data

'I love pizza'

In [47]:
datA

'Lets go bananas'

In [48]:
dAtA

'I am groot'

In [49]:
my_container_name_1 = 'Groot'
my_container_name_2 = 'Thor'

In [50]:
print(f'{my_container_name_1} and {my_container_name_2} are best friends !')

Groot and Thor are best friends !

In [51]:
hero1, hero2 = 'Groot', 'Thor'
print(f'{hero1} and {hero2} are best friends !')

Groot and Thor are best friends !

In [53]:
my_container_name_1 = 'name1'
my_container_name_2 = 'name2'
my_container_name_3 = 'name3'
my_container_name_4 = 'name4'
my_container_name_5 = 'name5'
my_container_name_6 = 'name6'
my_container_name_7 = 'name7'
my_container_name_8 = 'name8'
my_container_name_9 = 'name9'

print(f'The names are : {my_container_name_1}, {my_container_name_2}, {my_container_name_3}, {my_container_name_4}, {my_container_name_5}, {my_container_name_6} ,{my_container_name_7}, {my_container_name_8}, {my_container_name_9}')

The names are : name1, name2, name3, name4, name5, name6 ,name7, name8, name9

In [54]:
names_1 = 'name1'
names_2 = 'name2'
names_3 = 'name3'
names_4 = 'name4'
names_5 = 'name5'
names_6 = 'name6'
names_7 = 'name7'
names_8 = 'name8'
names_9 = 'name9'

print(f'The names are : {names_1}, {names_2}, {names_3}, {names_4}, {names_5}, {names_6} ,{names_7}, {names_8}, {names_9}')

The names are : name1, name2, name3, name4, name5, name6 ,name7, name8, name9

In [55]:
%whos

Variable              Type    Data/Info
---------------------------------------
Data                  str     I love pizza
dAtA                  str     I am groot
datA                  str     Lets go bananas
data                  int     123
hero1                 str     Groot
hero2                 str     Thor
i                     int     9
my_container_name_1   str     name1
my_container_name_2   str     name2
my_container_name_3   str     name3
my_container_name_4   str     name4
my_container_name_5   str     name5
my_container_name_6   str     name6
my_container_name_7   str     name7
my_container_name_8   str     name8
my_container_name_9   str     name9
name1                 str     Bablu
name2                 str     Tony
names_1               str     name1
names_2               str     name2
names_3               str     name3
names_4               str     name4
names_5               str     name5
names_6               str     name6
names_7               str     name7
names_8               str     name8
names_9               str     name9
path_                 str     nilotpal\narayan\users
statement1            str     Bablu lives in Delhi !
statement2            str     Tony lives in Mumbai !
temp                  int     31215
x                     int     15
y                     int     12
z                     int     33

In [56]:
del(x, y, z)

In [57]:
%whos

Variable              Type    Data/Info
---------------------------------------
Data                  str     I love pizza
dAtA                  str     I am groot
datA                  str     Lets go bananas
data                  int     123
hero1                 str     Groot
hero2                 str     Thor
i                     int     9
my_container_name_1   str     name1
my_container_name_2   str     name2
my_container_name_3   str     name3
my_container_name_4   str     name4
my_container_name_5   str     name5
my_container_name_6   str     name6
my_container_name_7   str     name7
my_container_name_8   str     name8
my_container_name_9   str     name9
name1                 str     Bablu
name2                 str     Tony
names_1               str     name1
names_2               str     name2
names_3               str     name3
names_4               str     name4
names_5               str     name5
names_6               str     name6
names_7               str     name7
names_8               str     name8
names_9               str     name9
path_                 str     nilotpal\narayan\users
statement1            str     Bablu lives in Delhi !
statement2            str     Tony lives in Mumbai !
temp                  int     31215