# Numeric Data Types:

210 products
2.2 billions 

15 news products

parle g, monaco, 5-star > old products
bourbon, oreo, hide-n-seek > new products

parle g = 10 millions
bourbon = 25 millions

total profit = 35 millions

bourbon = 25 millions
parle g = 1 million

parle_g = 10

In [ ]:
# integers > whole numbers > positive or negative > ex. 2, 5 1111, 9999, 1000000
# floats > fractional elements > positive or negative > ex. 2.1, 6.33, 1.0
# complex > real part with an imaginary part > 5i+4j, 3i+15j

In [4]:
# integers syntax : just a whole number without any decimal points
x = 123
print(type(x))
type(x)

<class 'int'>

int

In [2]:
x = 123.0
type(x)

float

In [3]:
# float syntax : a number followed by a decimal point and values after the point
# Note : Even if we have just 0 {zero} after the point in a number, itd still be considered as a float value
y = 55.545
print(type(y))

<class 'float'>

In [6]:
# Complex numbers
comp_1 = complex(5,6)
type(comp_1)

complex

In [9]:
type(5+7j)

complex

In [13]:
x,y = 50,10
type(x+y)

int

In [14]:
x/y

5.0

In [19]:
# Scaling factor
sf = 1000000000000
num1 = 5
num2 = 5.00000000000001 # > 5

(num1/num2) * sf

999999999999.998

In [20]:
(num1/5) * sf

1000000000000.0

In [21]:
val1 = 123
val2 = 123.005478

In [23]:
print(val1/val2, (val1/val2)*sf)

0.9999554653980532 999955465398.0532

In [29]:
# 5 > 5.0
# 5.033 > 5

# int to float > good > would not lead to loss of data
# float to int > might be good or it might be bad > might lead to loss of data


a = 55
b = 3.65
# converting float b to integer
b = 3

c1 = a*b
print(c1)

165

In [28]:
a = 55
b = 3.65

c2 = a*b
print(c2)

200.75

In [26]:
200.75 - 165

35.75

In [ ]:
# integer > counts > eg. frequency > number of students in a class, number of people buying a ps5
# float >

In [30]:
# 55.18654 kgs > 55kgs
[6.2, 5, 4.7, 5.5, 5.1]

(6.2+5+4.7+5.5+5.1)/5

5.3

In [36]:
(10.0+21.9+8.1+4.0+6.0)/5

10.0

In [44]:
50*5

250

In [45]:
50/6

8.333333333333334

In [46]:
50/5

10.0

# Integer to integer operations
# If both the input elements are integers
1. integer / integer >> float
2. integer * integer >> integer
3. integer + integer >> integer
4. integer - integer >> integer

# If both the input elemenmts are float values
1. float / float >> float
2. float * float >> float
3. float + float >> float
4. float - float >> float

# If one of the element is float and the other is integer
It would always result in a float number

In [74]:
x = 5
y = 56
z = 74
a = 2.0

final = (x+y-(z*a))-a
print(final, type(final))

-89.0 <class 'float'>

# Typecasting

- the operation using which we convert one datatype to another

In [76]:
x = 5
y = 56
z = 74
a = 2.0

final = (x+y-(z*a))-a

int_final = int(final)

print(final, type(final))
print(int_final, type(int_final))

-89.0 <class 'float'>
-89 <class 'int'>

In [82]:
a = 55
b = float(a)

In [86]:
a = 55.635
b = int(a)
a,b

(55.635, 55)

In [87]:
int(55.9999999999)

55

In [104]:
a = 55
b = 55.0
c = 100.0

In [114]:
a.__sizeof__(), b.__sizeof__(), c.__sizeof__()

(28, 24, 24)

In [115]:
type(a)

int

# 1. Float values take much more space than integer values
# Note : When we initialize any integer or float value they would be initialized in different bits as per the number

# bit is nothing but the maximum possible space allocation in memory

int64 : 65
float16 : 65.0
    
int64 size > float16

64bits

64bits integer :

In [170]:
x.__sizeof__(), y.__sizeof__()

(26, 28)

In [179]:
x = 1
x.__sizeof__()

28