### 3 types of Numerical data-types
- Integers
- Floats
- Complex

- Integers : 
    - positive or negative whole numbers
    - there is no decimal points
    - applications : counts/ frequency
- Float :
    - positive or negative fractional elements
    - There would always be a decimal point even if the values after the point is zero {2.0 is a float}
    - applications : average, someone's weight etc
Complex number : 
    - has a real and an imaginary part
    - example : 5+6j

### Rules of operations :
1. Operations between integers and integers:
    - integer + integer = integer
    - integer - integer = integer
    - integer * integer = integer
    - integer / integer = float
2. Operations between a float and a float:
    - float + float = float
    - float - float = float
    - float * float = float
    - float / float = float
3. operations between an integer and a float:
    - It would always end up with a float

real_part + imaginary_part

syntax of a complex number : (co-efficient of the real part)i + (co-efficient of the imaginary part)j
co-efficient of the real part + (co-efficient of the inmaginary part)j : 5+6j

### Initiating the numerical datatypes

In [1]:
# Integers
x = 4
y = int(4)

type(x), type(y)

(int, int)

In [2]:
# Float values
a = 4.0
b = float(-4.4)

type(a), type(b)

(float, float)

In [4]:
# Complex numbers
p = complex(5,9)
print(p, type(p))

q = 45+56j
print(q, type(q))

(5+9j) <class 'complex'>
(45+56j) <class 'complex'>

### Type casting

In [ ]:
# Conversion of one data-type into another

To typecast we have to provide the value inside the initializer of other data type

Initializers : {int(), float(), complex()}

In [7]:
# 1. int to float
a = 55
b = float(a)
print(b, type(b))

55.0 <class 'float'>

In [24]:
# 2. float to int
# Note : We will loose data post the decimal point > removes everything after the decimal point
x = 6.5423
y = int(x) # will loose .5423 from the original values and the new value would be 6

print(x,type(x), y, type(y))

6.5423 <class 'float'> 6 <class 'int'>

In [25]:
a = 6.9999999999
b = int(a)

print(a,b)

6.9999999999 6

In [27]:
# 3. integer to complex number
z = 67
complex(z)

(67+0j)

In [29]:
x = complex(67,0)
int(x)

TypeError: can't convert complex to int

In [30]:
b = 55.4
complex(b)

(55.4+0j)

In [31]:
float(complex(b))

TypeError: can't convert complex to float

1. Possibilities:
    - int > float
    - int > complex
    - float > int {Might lead to loss of data}
    - float > complex
    
2. Not possible : 
    - complex > int
    - complex > float

# Phase II : Arithematic Operations

Whenever we are performing any kind of mathematical operation on any set of numbers, we are applying arithematic operations

1. Arithematic Operators : Would always return a numeric value
    - + : Addition
    - - : Subtraction
    - * : Multiplication
    - / : Division
    - // : Floor division (returns the integer value of the Quotient)
    - % : Modulus {Remainder of a division}
    - = : assignment operator {Used to assign/update a value to a variable}

2. Comparison operators : Would always return a boolean value
    - == : Equating {Returns a boolean : True/False}
    - != : Reverse of equating operator/ Not equal to
    - >, < : Greater than or less than : Compares the values : Returns boolean
    - >=, <= : greater than or equals to and less than or equals to : Compares : Returns boolean value

In [33]:
# General arithematic operations
a = 56
b = 5

a+b, a-b, a*b, a/b

(61, 51, 280, 11.2)

In [37]:
# Floor division : returns the truncated integer value of the Quotient
int(56/5), 56//5

(11, 11)

In [39]:
# Modulus operator
# x/y : remainder
# % : x%y
a%b

1

In [44]:
# Dummy Program
# To print the equation of division
number1 = 75
number2 = 4

quotient = number1//number2
remainder = number1%number2

# Dividend = Divisor * Quotient + Remainder
print(f'Equation : {number1} = {number2} * {quotient} + {remainder}')

Equation : 75 = 4 * 18 + 3

In [47]:
# Equating operator > retuens boolean value
x = 55
y = 5
a = 66
b = 6

x/y == a/b

True

In [50]:
# Assignment operator
p = 56

In [54]:
# Dummy program 2
# Not Equal to > returns boolean value
person1 = 'Ram'
person2 = 'Shyam'
person1_age = 45
person2_age = 22

if person1_age!=person2_age:
    print(f'{person1} and {person2} are not of same age !')
if person1_age == person2_age:
    print(f'{person1} and {person2} are of same age !')

Ram and Shyam are not of same age !

# Syntaxes for omparision operators
# primary sign secondary sign

not equals : !(not)=(equals to) : != : Right syntax
           : =(equals to)!(not) : =! : Wrong syntax
less than or equal to : <= : Right syntax
                      : =< : Wrong syntax
greater than or equal to : >= : Right syntax
                         : => : Wrong syntax

In [64]:
a = 55
b = 34

a!=b

True

In [62]:
a=!b #wrong syntax

In [65]:
a>=b

True

In [66]:
a=>b

SyntaxError: invalid syntax (3983463657.py, line 1)

In [67]:
a = 55
b = 34

a<=b

False

In [68]:
a=<b

SyntaxError: invalid syntax (316874081.py, line 1)

In [ ]:
# Problem 1:
# Take 5 numbers
# print the average of them