### String concatenation

concatenation > addition

ex. 1: Related to numbers
    number1 = 5
    number2 = 10
    number1 + number2 = 5+10 = 15

ex. 2: Related to strings:
    data1 = 'G'
    data2 = 'root'
    data1+data2 = 'Groot'

- It only works with similar data-types
    - string + string
    - float + int
    - int + int
    - float + float

In [1]:
'Shyam' + ' ' + 'Chaudhary'

'Shyam Chaudhary'

In [2]:
'Shyam' + 2

TypeError: can only concatenate str (not "int") to str

In [4]:
word1 = 'i'
word2 = 'am'
word3 = 'groot'
space = ' '
output = 'i am groot'

word1 + space + word2 + space + word3

'i am groot'

In [6]:
word1.__add__(space).__add__(word2).__add__(space).__add__(word3)

'i am groot'

### Use of multiplication in strings

- first item should be a string and the other item should be an integer

In [10]:
data = 'abc '
data*3

'abc abc abc '

### Use of addition operator on strings

- both the items should be strings

In [13]:
a = 'Groot '
b = 'is '
c = 'an '
d = 'guardian'

a+b+c+d

'Groot is an guardian'

In [14]:
'I am groot' - 'groot'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [16]:
'I am groot'[:-5]

'I am '

In [46]:
data = 'I am groot. I am not thor. I am not Loki.'
data.replace('am ','', 1)

'I groot. I am not thor. I am not Loki.'

In [47]:
data[:13]

'I am groot. I'

In [48]:
data[16:]

' not thor. I am not Loki.'

In [21]:
data[:13] + data[16:]

'I am groot. I not thor. I am not Loki.'

In [22]:
data1 = 'a'
data2 = 'b'

output = 'ab'
data1+data2

'ab'

In [23]:
data1.__add__(data2)

'ab'

# Challenge

In [8]:
data = 'abcdefghijklmnopqrstuvwxyz'
output = 'abcdeUVWXYZ'
data1 = data[20:].upper()
data2 = data[:5].lower()
output = data2+data1
output

'abcdeUVWXYZ'

In [25]:
data='abcdefghijklmnopqrstuvwxyz'
data.replace('fghijklmnopqrstuvwxyz','UVWXYZ')

'abcdeUVWXYZ'

In [26]:
data[:5]+data[-6:].upper()

'abcdeUVWXYZ'

In [28]:
data='abcdefghijklmnopqrstuvwxyz'
a = data[:5]
b= data[-6:].swapcase()
c = a + b
print(c)

abcdeUVWXYZ

# Challenge 2

In [ ]:
data1 = 'Rupesh'
age = 27

'Rupesh is 27 years old. Rupesh is 27 years old.'

In [29]:
a="Rupesh"
age=27
print(a,"is",age, "years old")

Rupesh is 27 years old

In [33]:
data = 'abc'
data.upper()

'ABC'

In [37]:
data1= 'Rupesh'
age='27'
(data1+' '+ 'is '+ age +' '+'years '+'old. ')*2

'Rupesh is 27 years old. Rupesh is 27 years old. '

- Mutable objects:
    - Objects that can be changed directly without updating the original variable or creating a new variable

- Immutable objects : 
    - Objects that cannot be changed unless they are updated explicitly or stored in a new variable
    - They would always stay the same once they have been created

- String is an immutable object

In [10]:
a = 'I am Groot.'
b = 'I am not Thor.'
output = a.replace('Groot','not Thor')
output

'I am not Thor.'

In [44]:
output = a.replace('Groot', 'not Thor')

In [45]:
a, output

('I am Groot.', 'I am not Thor.')