In [1]:
# 1. taking input from the user
input()

Nilut

'Nilut'

In [4]:
name = input()
print(f'My name is : {name}')

Groot
My name is : Groot

In [5]:
# input function would always generate a string value
number = input()
print(f'The number is {number}')
print(f'The data-type of the number is {type(number)}')

55
The number is 55
The data-type of the number is <class 'str'>

In [6]:
print('Please enter the number 1:')
number1 = int(input())
print('Please enter the number 2:')
number2 = int(input())

sum_ = number1+number2

print(f'The addition of {number1} and {number2} is {sum_}')

Please enter the number 1:
2
Please enter the number 2:
4
The addition of 2 and 4 is 6

In [8]:
print('Please enter the number 1:')
number1 = input()
print('Please enter the number 2:')
number2 = input()

sum_ = number1+number2

print(f'The addition of {number1} and {number2} is {sum_}')

Please enter the number 1:
1
Please enter the number 2:
1
The addition of 1 and 1 is 11

In [10]:
print('Please enter the word : ')
word = input()
print(f'The word entered is : {word}')
vowels = 'aeiouAEIOU'
if vowels.__contains__(word[0]):
    print(f'The word : {word} starts with the vowel {word[0].lower()} !')
else:
    print(f'The word : {word} starts with the consonant {word[0].lower()} !')

Please enter the word :
dinosaur
The word entered is : dinosaur
The word : dinosaur starts with the consonant d !

In [21]:
print('Enter your full name : ')
name = input()
print('Enter your age : ')
age = int(input())
print('Enter the name of your city : ')
city = input()
print('Enter the name of your state : ')
state = input()

print()
print('Please verify your details : ')
print(f'name of the candidate : {name}')
print(f'Age of the candidate is : {age}')
print(f'Location of the candidate is : {city},{state}')

Enter your full name :
Groot Yadav
Enter your age :
500
Enter the name of your city :
Chandrapur
Enter the name of your state :
Maharashtra

Please verify your details :
name of the candidate : Groot Yadav
Age of the candidate is : 500
Location of the candidate is : Chandrapur,Maharashtra

In [17]:
print(1)
print(2)
print(3)
print()
print('A')
print('B')
print('C')

1
2
3

A
B
C

In [23]:
print('Enter your age : ')
x = input()

Enter your age :
25

In [24]:
x = input()
y = input()

Abc
def

In [25]:
name = input('Please enter your name : ')
print()
print(f'The name entered is : {name}')

Please enter your name : Amish Tripathi

The name entered is : Amish Tripathi

# Problem statement #1

Ram and shyam are brothers. Ram earns 1000 rs per day while shyam earns 1500. Ram saves 10% of his income everyday. Shyam saves just 7%. How much do they both save in a month.

month_days = 55

print('Invalid number of days in the month !')

In [33]:
name, name2 = 'ram',"shyam"
earn,earn1 = 1000, 1500
ram_save = int(earn*0.10)
shyam_save = int(earn1*0.07)
days = 31
print(f'{name} earn {earn} and save {ram_save*days} in {days} days')
print()
print(f'{name2} earn {earn1} and save {shyam_save*days} in {days} days')

ram earn 1000 and save 3100 in 31 days

shyam earn 1500 and save 3255 in 31 days

In [37]:
month_days=int(input("Enters number of days in month: "))
if 28<=month_days<=31:
    ram_sal=int(input("Enter Ram's Salary: "))
    shyam_sal=int(input("Enter Shyam's Salary: "))
    ram_save=int(input("Enter Saving % of Ram:"))
    shyam_save=int(input("Enter Saving % of Shyam:"))

    total_save=(ram_sal*(ram_save/100)+shyam_sal*(shyam_save/100)*month_days)
    print(total_save)
else:
    print('Number of days is not valid !')

Enters number of days in month: 28
Enter Ram's Salary: 1000
Enter Shyam's Salary: 1200
Enter Saving % of Ram:10
Enter Saving % of Shyam:10
3460.0

In [42]:
Ram_earns=input("Enter the Ram's earning per month")
Sham_earns=input("Enter the Shyam's earning per month")
ram_save=int(input("enter the % of Ram saves"))
sham_save=int(input("Eneter % of shyam saves"))
month=input("Enter the month name")
month_days=int(input("enter month days"))

if month_days<=28:
    print("Enetred month is not valid")
else:
    Ramsave=Ram_earns*ram_save/100
    Shamsave=sham_earns*sham_save/100
    total_save=Ramsave+Shamsave
    print("Total saving sof both is :", {total_save})

Enter the Ram's earning per month1000
Enter the Shyam's earning per month1000
enter the % of Ram saves10
Eneter % of shyam saves10
Enter the month nameFeb
enter month days55

TypeError: unsupported operand type(s) for /: 'str' and 'int'

In [46]:
print("Ram's Salary =")
num1 = int(input())
print("Shyam's Salary =")
num2 = int(input())

print("Daily Savings Percentage for Ram =")
save1 = int(input())
print("Daily Savings Percentage for Shyam =")
save2 = int(input())

print("Specify the month = ")
month = int(input())

ram_saves = save1/100
shyam_saves = save2/100

if 28<=month<=31:
    print(f"Ram and Shyam salary were {num1*month} and {num2*month} for the month. They collectively saved {(ram_saves+shyam_saves)*month*100} for {month} days")
else:
    print('Please enter a valid value !')

Ram's Salary =
1000
Shyam's Salary =
1000
Daily Savings Percentage for Ram =
15
Daily Savings Percentage for Shyam =
10
Specify the month =
28
Ram and Shyam salary were 28000 and 28000 for the month. They collectively saved 700.0 for 28 days

In [48]:
(1000 * 0.15)*28

4200.0

In [53]:
# Ashutosh Singh

Ram_income = int(input("Enter's Ram's Income per day :"))
Shyam_income = int(input("Enter Shyam's Income per day : "))

print()
days = input('Enter Number of Days : ')

if days == '31' or days== '30' or days =='28' or days =='29':
    print()
    print(f'Ram monthly Income : {int(days)*Ram_income}')
    print(f'Shyam monthly Income : {int(days)*Shyam_income}')
    print()
    Ram_saving = input("Ram's saving percentage : ")
    Shyam_saving = input("Shyam's saving percentage : ")
    
    if(int(Ram_saving)<=100 or int(Shyam_saving)<=100 ):
        R_s = (int(Ram_income)*int(days))*(int(Ram_saving)/100)
        S_s = (int(Shyam_income)*int(days))*(int(Shyam_saving)/100)
        print()
        print(f'Ram Saving : {R_s}')
        print(f'Shyam Saving : {S_s}')
    else: 
        print("Invalid Saving Percentage")
        
else:
    print("Invalid Days")

Enter's Ram's Income per day :1000
Enter Shyam's Income per day : 2000

Enter Number of Days : 55
Invalid Days

In [83]:
ram=int(input("ram salary : "))
print(f"the ram salary is {ram}")
shyam=int(input("shyam salary : "))
print(f"the shyam salary is {shyam}")
ram_savings =int(ram*0.10)
shyam_savings=int(shyam*0.07)
month=int(input("month days: "))

if month>=31:
    print("month day is invalid")

total_saving =int((ram_savings+shyam_savings)*month)
print(total_saving)
# print(f"the total saving in month is {int(total_saving)}")

ram salary : 1000
the ram salary is 1000
shyam salary : 1200
the shyam salary is 1200
month days: 22
4048