- Can only iterate over theitems of a collection type data {data that has multiple items within}

- iteration : to access individual items one by one

In [40]:
data = 'groot123@gmail.com'
final = ''

for temp in data:
    print(f'The value of temp is : {temp}')    
    
    if temp.isalnum()==False:
        final = final + temp
    else:
        final = final + '_'
        
    print(f'The value of final is : {final}')
    print(f'Length of final : {len(final)}')
    print()

The value of temp is : g
The value of final is : _
Length of final : 1

The value of temp is : r
The value of final is : __
Length of final : 2

The value of temp is : o
The value of final is : ___
Length of final : 3

The value of temp is : o
The value of final is : ____
Length of final : 4

The value of temp is : t
The value of final is : _____
Length of final : 5

The value of temp is : 1
The value of final is : ______
Length of final : 6

The value of temp is : 2
The value of final is : _______
Length of final : 7

The value of temp is : 3
The value of final is : ________
Length of final : 8

The value of temp is : @
The value of final is : ________@
Length of final : 9

The value of temp is : g
The value of final is : ________@_
Length of final : 10

The value of temp is : m
The value of final is : ________@__
Length of final : 11

The value of temp is : a
The value of final is : ________@___
Length of final : 12

The value of temp is : i
The value of final is : ________@____
Length of final : 13

The value of temp is : l
The value of final is : ________@_____
Length of final : 14

The value of temp is : .
The value of final is : ________@_____.
Length of final : 15

The value of temp is : c
The value of final is : ________@_____._
Length of final : 16

The value of temp is : o
The value of final is : ________@_____.__
Length of final : 17

The value of temp is : m
The value of final is : ________@_____.___
Length of final : 18

In [41]:
veriable

'm'

In [30]:
final

'________@_____.___'

In [17]:
data = 50
final = 'dummy'

if data%2==0:
    final = data

print(final)

50

In [33]:
data = 'abcde'
final = 'Sanket'

for i in data:
    if i=='c':
        final = final + i
    else:
        final = final + '_'
        
print(final)

Sanket__c__

In [32]:
final

'Sanket__c__'

i == 'a'
final = '_'
i == 'b'
final = '__'
i == 'c'
final = '__c'
i == 'd'
final = '__c_'
i == 'e'
final = '__c__'

In [ ]:
data = 'I am Groot. I am not Iron Man. I am 444 years old while Iron man is just 40. I am much older than him'

In [42]:
# Sukanya Jagtap

data = 'I am Groot. I am not Iron Man. I am 444 years old while Iron man is just 40. I am much older than him'
final= ''

for temp in data:
    if temp.isdecimal() == True:
        final = final + temp
        print(temp)

4
4
4
4
0

In [43]:
final

'44440'

In [65]:
data = 'I am Groot. I am not Iron Man. I am 444 years old while Iron man is just 40. I am much older than him'
final = ''

for i in data:
    if i.isnumeric():
        final += i
    if i.isspace():
        final += i

final = final.strip()
space_count = final.count(' ')
final = final.replace(' '*space_count,' ')

print(final)

444 40

In [66]:
# Akshit Naranje

data = 'I am Groot. I am not Iron Man. I am 444 years old while Iron man is just 40. I am much older than him'
final=' '
for i in data:
    if i.isnumeric()==True :
        final=final+i 
print(final[:4],final[4:])

 444 40

In [67]:
data = 'I am Groot. I am not Iron Man. I am 444 years old while Iron man is just 40. I am much older than him'
data

'I am Groot. I am not Iron Man. I am 444 years old while Iron man is just 40. I am much older than him'

1. find all the capitalized elements in the data
2. find all the words that are capitalized using the elements

In [74]:
final = ''
for i in data.split():
    if i.istitle():
#         print(i)
        final = final + i + ' '
final.strip()

'I Groot. I Iron Man. I Iron I'

In [ ]:
data = '12345'
# output = 
# *
# **
# ***
# ****
# *****

In [1]:
# Vaibhav Jagtap
data = '12345'
final=''

for i in data:
    i = '*'
    final = final + i
    print(final)

*
**
***
****
*****

In [10]:
# Suryakiran Mali

data= '54321'
for i in data:
    print(int(i)* '*')

*****
****
***
**
*

In [13]:
# vaishali mhaske
data='12345'
temp="*"
for i in data:
    i='*'
    print(temp)
    temp=temp+i

*
**
***
****
*****

In [17]:
# Ashutosh Singh

data = '12345'
k = 0
for i in data:
    k = k+1
    print('*'*k)

*
**
***
****
*****

In [21]:
# Rushikesh Khutafale22:12

data='12345'
final=''
for i in data:
    if int(i)<=5:
        i=int(i)*'*'
        print(i)

*
**
***
****
*****

In [23]:
# Shikhar Bhatia22:09

data="1234567"
for i in data:
    print(int(i)*"*")

*
**
***
****
*****
******
*******

In [25]:
# Priya Kumbhar22:08


data = '12345678'

for i in data:
    i= int (i) *'*'
    print (i)

*
**
***
****
*****
******
*******
********

In [26]:
# Yogita jadhav22:07

data='12345'
final=''
for temp in data:
    i='*'
    final=final+i
    print(final)

*
**
***
****
*****

In [28]:
# ketali patil22:07

data='12345'
final='*'
for i in data:
    if i.isnumeric():
        final=final+final
        print(final)

**
****
********
****************
********************************

In [31]:
# Shrikant Khade22:06
data = '1234567'
final = ''
for i in data:
    i.isnumeric()
    final = final+'*'
    print(final)

*
**
***
****
*****
******
*******

In [33]:
# gaurav tiwari22:06
data="1234567"
num=""
for i in data:
    num=num+"*"
    print(num)

*
**
***
****
*****
******
*******

In [38]:
# musaib22:06
data = '1234567'
j = ''
for i in data:
    if i.isalnum()==True:
        j = j + i
    j = j.replace(i,'*')
    print(j)

*
**
***
****
*****
******
*******

In [45]:
# musaib22:06
data = '1234567'
j = ''
for i in data:
    if i.isalnum()==True:
        j = j + i
    j = j.replace(i,'*')
    print(j)

*
**
***
****
*****
******
*******
********
*********
**********
***********
************

In [46]:
data = '1234567'

for i in data:
    dummy = '*'
    if i.isnumeric():
        print(dummy*int(i))

*
**
***
****
*****
******
*******

In [48]:
data = '12345'
final = '*'

for i in data:
    print(f'initial final : {final}')
    final = final*int(i)
    print(f'final final : {final}')

    print()

initial final : *
final final : *

initial final : *
final final : **

initial final : **
final final : ******

initial final : ******
final final : ************************

initial final : ************************
final final : ************************************************************************************************************************

In [49]:
data = '12345'

for i in data:
    final = '*'
    
    print(f'initial final : {final}')
    final = final*int(i)
    print(f'final final : {final}')

    print()

initial final : *
final final : *

initial final : *
final final : **

initial final : *
final final : ***

initial final : *
final final : ****

initial final : *
final final : *****