# 1. Boolean data type

#### There are only two possible values for this type
- True
- False

#### Syntax:
- The first letter should be capital and everything else should be lowercase {i.e the data should be in title-case}
- The data should be defined without quotes or else it would be treated as a string instead of a boolean

In [1]:
x = True
print(x)

True

In [2]:
y = False
print(y)

False

In [3]:
type(x), type(y)

(bool, bool)

In [4]:
dummy = 'True'
print(dummy)

True

In [5]:
type(dummy)

str

### Automatically generating booleans

In [6]:
var1 = 'Groot'
var2 = input('Please feed your word : ')

print(var1==var2)

Please feed your word : Groot
True

In [7]:
var3 = (var1==var2)

type(var3)

bool

## Operators rendering booleans as outputs:
- '=='
- '>='
- '<='
- '>'
- '<'
- '!='
- 'in'
- 'not in'

#### Note : Use all of these without quotes

### Applications : conditionals

In [8]:
data1 = 'I am Groot'
dummy = 'groot'

dummy in data1

False

# 2. Range

#### Definition
- Sequence of numbers between two endpoints

#### Syntax : 
- range(start_point, end_point+1, step_size)
- Would not consider the end point in the data
- Would only work on numbers

In [11]:
data = range(0,11)
data

range(0, 11)

In [12]:
for num in data:
    print(num)

0
1
2
3
4
5
6
7
8
9
10

In [14]:
type(data)

range

#### Step size is used when we have to skip content with defined intervals

- Would skip step_size-1 elements

In [15]:
for i in range(0,11,2):
    print(i)

0
2
4
6
8
10

0,1,2,3,4,5,6,7,8,9,10

In [16]:
for i in range(0,10,3):
    print(i)

0
3
6
9

## Accessing individual elements of a string using range

In [17]:
data = 'i am groot. i am not your enemy.'
len(data)

32

In [21]:
for i in range(len(data)): # range(32) is equivalent to range(0,32)
#     print(i)
#     print(data[i])
    
    print(f'{i} : {data[i]}')
    print()

0 : i

1 :

2 : a

3 : m

4 :

5 : g

6 : r

7 : o

8 : o

9 : t

10 : .

11 :

12 : i

13 :

14 : a

15 : m

16 :

17 : n

18 : o

19 : t

20 :

21 : y

22 : o

23 : u

24 : r

25 :

26 : e

27 : n

28 : e

29 : m

30 : y

31 : .

In [26]:
final = ''

for i in range(len(data)):
    if (data[i].lower() == 'g') or (data[i]=='o')  or (data[i]=='t'):
        print(data[i])
        final += data[i]

g
o
o
t
o
t
o

In [27]:
print(final)

goototo

- range(start, end, step)

- string[start : end : step]

### Generic data types
- int
- float
- complex
- boolean
- strings
- range
- tuple
- list
- dictionary
- set

### Advanced data types
- NamedTuple
- frozenset
- OrderedDict
- Arrays
- Series
- DataFrames

### Sorted function

Application : 
- To arrange the items of a given collection data type in a specified order
- The order can either be ascending or descending

syntax : sorted(collection data type)

#### Ascending order

In [4]:
string = '1253241'
sorted(string)

['1', '1', '2', '2', '3', '4', '5']

'112345'

['1','2','5','3','4','1'] >> ['1','1','2','3','4','5']

In [5]:
string = 'acbdecf'
sorted(string)

['a', 'b', 'c', 'c', 'd', 'e', 'f']

#### Descending order

In [6]:
string = 'acbdecf'
sorted(string, reverse = True)

['f', 'e', 'd', 'c', 'c', 'b', 'a']

In [7]:
string = 'I am Groot123'
sorted(string)

[' ', ' ', '1', '2', '3', 'G', 'I', 'a', 'm', 'o', 'o', 'r', 't']

### Sequence of output for sorted function

`It would work as per the ascii character values`

- space
- punctuation marks
- numbers
- special characters
- uppercase-letters
- lowercase-letters

In [12]:
string = 'I am Groot@123.,!$%'
sorted(string)

[' ',
 ' ',
 '!',
 '$',
 '%',
 ',',
 '.',
 '1',
 '2',
 '3',
 '@',
 'G',
 'I',
 'a',
 'm',
 'o',
 'o',
 'r',
 't']

In [10]:
string = 'I am Groot@123.'
sorted(string, reverse = True)

['t', 'r', 'o', 'o', 'm', 'a', 'I', 'G', '@', '3', '2', '1', '.', ' ', ' ']